* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Space Grotesk", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 356px 1fr;
  flex-wrap: wrap;
}

.avatar {
  height: 356px;
  width: 100%;
}

.info {
  width: 100%;
  background: #f5f5f5;
  padding: 0 135px;
}

.info .nome {
  padding: 114px 0 0 0;
}

.info .nome > p {
  color: #000;
  font-size: 56px;
}

.info .nome > p::first-letter {
  text-transform: uppercase;
}

.info .nome__completo > p {
  text-transform: capitalize;
  color: #626cc3;
  font-size: 56px;
}
