* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Space Grotesk", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 356px 1fr;
  flex-wrap: wrap;
}
/* Figure */
.avatar {
  width: 100%;
  background-image: url("./image/roberto.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Header */
.info {
  height: 356px;
  background: #f5f5f5;
  padding: 0 0 114px 135px;
}

.info .nome {
  padding: 114px 0 0 0;
}

.info .nome > p {
  color: #000;
  font-size: 3.5em;
}

.info .nome > p::first-letter {
  text-transform: uppercase;
}

.info .nome__completo > p {
  text-transform: capitalize;
  color: #626cc3;
  font-size: 3.5em;
}
/* Aside */
.contatos {
  height: 100%;
  padding: 64px 48px 56px 48px;
  background: #222;
}

.contatos .email {
  padding: 0 0 24px;
}

.contatos .email > p {
  font-size: 1.1em;
  color: #fff;
}

#email {
  text-transform: uppercase;
}

.contatos .telefone {
  padding: 0 0 26px;
}

.contatos .telefone > p {
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
}

.contatos .icons {
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 10px;
  cursor: pointer;
}

.contatos .icons > a {
  color: inherit;
}
/* Main */
.detalhes {
  padding: 40px 145px 80px 135px;
  height: 100%;
  background: #626cc3;
  color: #fff;
}

.detalhes .sobremim {
  border-bottom: 4px solid #fff;
}

.detalhes .sobremim > h1 {
  font-size: 3.5em;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.detalhes .sobremim > h1::first-letter {
  text-transform: uppercase;
}

.detalhes .sobremim > p {
  padding-top: 20px;
}

.detalhes .sobremim .texto_capacitacao {
  padding-top: 20px;
  margin-bottom: 40px;
}

.detalhes .sobremim .texto_capacitacao_container {
  border-left: 2px dotted #fff;
}

.detalhes .sobremim .texto_capacitacao .periodo {
  margin-top: 24px;
  padding-left: 24px;
  line-height: 25px;
}

.detalhes .sobremim .texto_experiencia .periodo_experiencia {
  margin-top: 24px;
  padding-left: 24px;
  line-height: 25px;
}

.detalhes .sobremim .texto_experiencia_container {
  border-left: 2px dotted #fff;
  margin-top: 24px;
  margin-bottom: 20px;
}

#sobre_mim {
  display: none;
  font-weight: 400;
}

.detalhes .meusprojetos {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 4px solid #fff;
}

.detalhes .meusprojetos > h1 {
  font-size: 3.5em;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.detalhes .meusprojetos > p {
  padding-top: 20px;
  color: #fff;
}

.detalhes .meusprojetos p > a:link {
  color: #fff;
  font-size: 20px;
}

#meusprojetos {
  display: none;
}

.detalhes .meusprojetos > h1::first-letter {
  text-transform: uppercase;
}
/* Skills */
.detalhes .skills {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 4px solid #fff;
}

.detalhes .skills > h1 {
  font-size: 3.5em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

.detalhes .skills > p {
  padding-top: 20px;
  color: #fff;
}

#skills {
  display: none;
}

.detalhes .skills > h1::first-letter {
  text-transform: uppercase;
}

.detalhes .skills .icons_skills {
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 25px;
}

.detalhes .skills .icons_skills li {
  list-style-type: none;
  margin-right: 10%;
  display: inline;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .contatos {
    height: 200%;
  }

  .detalhes {
    height: 200%;
  }

  .detalhes .skills .icons_skills {
    font-size: 10px;
    font-weight: 300;
    padding-top: 25px;
  }
  .detalhes .skills .icons_skills li {
    list-style-type: none;
    margin-right: 2%;
    display: inline;
  }
}
